<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="SyncMe" suffix=" · Link">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <!-- Base Account SDK -->
    <script src="https://unpkg.com/@base-org/account/dist/base-account.min.js">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        setTheme(localStorage.getItem("phx:theme") || "system");
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        window.addEventListener("phx:set-theme", ({ detail: { theme } }) => setTheme(theme));
      })();
    </script>
    {Application.get_env(:live_debugger, :live_debugger_tags)}
  </head>
  <body>
    <div class="flex justify-between px-4 sm:px-6 lg:px-8">
      <h1 class=" w-full relative z-10 flex items-center gap-4  justify-start text-sm font-semibold leading-6">
        SyncMe.Link
      </h1>
      <ul class="menu menu-horizontal w-full relative z-10 flex items-center gap-4  justify-end">
        <%= if @current_scope do %>
          <li>
            {@current_scope.user.email}
          </li>
          <li>
            <.link href={~p"/users/settings"}>Settings</.link>
          </li>
          <li>
            <.link href={~p"/users/log-out"} method="delete">Log out</.link>
          </li>
        <% else %>
          <li>
            <.link href={~p"/users/log-in"} class="btn btn-outline">Log in</.link>
          </li>
          <li>
            <.link href={~p"/users/register"} class="btn btn-neutral">Sign up</.link>
          </li>
        <% end %>
      </ul>
    </div>
    {@inner_content}
  </body>
</html>
